:root {
  --post-min-height: 240px;
  --post-max-height: 360px;
}

:local(.main_section_main) {
  display: block;
}

:local(.main_section_main_up_sm) {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: repeat(
    2,
    clamp(var(--post-min-height), 20vh, var(--post-max-height))
  );
  grid-template-areas: 'latest second' 'latest third';
}

:local(.main_section_main_latest) {
  grid-area: latest;
  min-height: var(--post-min-height);
  display: flex;
}

:local(.main_section_main_second) {
  grid-area: second;
  min-height: var(--post-min-height);
  display: flex;
}

:local(.main_section_main_third) {
  grid-area: third;
  min-height: var(--post-min-height);
  display: flex;
}

:local(.blog_post) {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
