* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
}

ul {
  list-style-type: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease;
  cursor: pointer;
}

a:hover {
  text-decoration-color: inherit;
}
